# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
04-analytics-engineering/target/
04-analytics-engineering/dbt_packages/
04-analytics-engineering/logs/
